In [9]:
import sys, os, io
import dvc.api
sys.path.append(os.path.abspath(os.path.join('..')))

In [10]:
from scripts.dataloader import DataLoader
from scripts.exploration import Exploration

In [19]:
train_data = '../data/train.csv'
test_data = '../data/test.csv'
store_data = '../data/store.csv'

In [20]:
dataloader = DataLoader()
exp = Exploration()
content_train =dvc.api.read(path=train_data, repo='../', rev='v1')
df_train = dataloader.read_csv(io.StringIO(content_train))
content_store =dvc.api.read(path=store_data, repo='../', rev='v1')
df_store = dataloader.read_csv(io.StringIO(content_store))
content_test =dvc.api.read(path=test_data, repo='../', rev='v1')
df_test = dataloader.read_csv(io.StringIO(content_test))

In [21]:
df_train.head(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [22]:
df_train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')

In [24]:
df_train.dtypes

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

### Check for missing values

In [25]:
percent_missing, missing_count = exp.get_missing(df_train)

In [26]:
percent_missing

0.0

In [27]:
missing_count

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

Fortunatly, We don't have a missing value in the training csv file