In [1]:
import sys, os, io
import dvc.api
sys.path.append(os.path.abspath(os.path.join('..')))

In [5]:
from scripts.preprocess import Preprocess
from scripts.dataloader import DataLoader

In [11]:
train_data = '../data/clean/train.csv'
test_data = '../data/clean/test.csv'
store_data = '../data/clean/store.csv'

In [12]:
dataloader = DataLoader()
repo = 'https://github.com/Haylemicheal/Pharmaceutical-Sales-Prediction/'
content_train =dvc.api.read(path=train_data, repo=repo, rev='cleaned-v')
df_train = dataloader.read_csv(io.StringIO(content_train))
content_store =dvc.api.read(path=store_data, repo=repo, rev='cleaned-v')
df_store = dataloader.read_csv(io.StringIO(content_store))
content_test =dvc.api.read(path=test_data, repo=repo, rev='cleaned-v')
df_test = dataloader.read_csv(io.StringIO(content_test))

In [13]:
df_train.head()

,Unnamed: 0,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,0,1,5,2015-07-31,5263,555,1,1,0,1
1,1,2,5,2015-07-31,6064,625,1,1,0,1
2,2,3,5,2015-07-31,8314,821,1,1,0,1
3,3,4,5,2015-07-31,13995,1498,1,1,0,1
4,4,5,5,2015-07-31,4822,559,1,1,0,1

In [17]:
import pandas as pd
df_store.columns

Index(['Unnamed: 0', 'Store', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [24]:
merged_train = result = pd.merge(df_train,
                 df_store,
                 on='Store')

In [25]:
merged_train.head()

,Unnamed: 0_x,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Unnamed: 0_y,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,0,1,5,2015-07-31,5263,555,1,1,0,1,0,c,a,1270.0,9.0,2008.0,0,22.0,2012.0,"Jan,Apr,Jul,Oct"
1,1115,1,4,2015-07-30,5020,546,1,1,0,1,0,c,a,1270.0,9.0,2008.0,0,22.0,2012.0,"Jan,Apr,Jul,Oct"
2,2230,1,3,2015-07-29,4782,523,1,1,0,1,0,c,a,1270.0,9.0,2008.0,0,22.0,2012.0,"Jan,Apr,Jul,Oct"
3,3345,1,2,2015-07-28,5011,560,1,1,0,1,0,c,a,1270.0,9.0,2008.0,0,22.0,2012.0,"Jan,Apr,Jul,Oct"
4,4460,1,1,2015-07-27,6102,612,1,1,0,1,0,c,a,1270.0,9.0,2008.0,0,22.0,2012.0,"Jan,Apr,Jul,Oct"

In [31]:
#Check for missing data
from scripts.exploration import Exploration
exp = Exploration()
percent_missing, missing_count = exp.get_missing(merged_train)

In [32]:
missing_count

Unnamed: 0_x                 0
Store                        0
DayOfWeek                    0
Date                         0
Sales                        0
Customers                    0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
Unnamed: 0_y                 0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [33]:
merged_train.to_csv('../data/clean/merged_data.csv')